@use '../../../shared/styles/mixins.scss' as *;
@use '../../../shared/styles/global.scss' as *;
@use '../../../shared/styles/variables.scss' as *;

.questions-list{
    min-width: 0;
    background-color: var(--color-white);
    @include flex-col();

    &__title{
        margin: 0;
        @include manrope(500, $font-2xl);
    }
    &__text{
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 17px;
    }
    &__content{
        padding-top: $space-md-2;
        display: flex;
        flex-direction: column;
        border-radius: $radius-2xl;
        background-color: var(--color-white);
        gap: $space-md-2;
    }
}

.questions-skeleton{
    padding: $space-md-2;
    box-shadow: 0px 4px 10px 0px #6A63761A;

    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__header{
        padding-bottom: $space-sm-3;
    }
}