@use '../../../shared/styles/global.scss' as *;
@use '../../../shared/styles/mixins.scss' as *;
@use '../../../shared/styles/variables.scss' as *;

.collection-filters{
    min-width: 392px;
    max-width: 392px;
    height: fit-content;
    background-color: var(--color-white);
    gap: $space-md-2;
    @include flex-col();

    &__item{ 
        gap: $space-xs-4;
        @include flex-col();
    }
    &__title{
        @include manrope(400, $font-sm);
        margin-bottom: 8px;
        line-height: 120%;
        color: var(--color-text);

        span{
            color: var(--color-primary);
        }
    }
    &__keyword{
        color: var(--color-primary);
        line-height: 160%;
        @include manrope(400, $font-md);
    }
    &__describe{
        line-height: 160%;
        @include manrope(400, $font-md);
        span{
            text-decoration: underline;
            color: var(--color-primary)
        }
        div{
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
        }
    }
    &__btn{
        width: fit-content;
    }
}

.filters-skeleton{
    gap: $space-md-2;
    @include flex-col();
    &__skills{
        gap: $space-xs-4;
        @include flex-col();
        gap: $space-xs-4;
        &-items{
            display: flex;
            flex-wrap: wrap;
            gap: $space-xs-4;
        }
    }
    &__access{
        gap: $space-xs-4;
        @include flex-col();
        &-items{
            display: flex;
            gap: $space-xs-4;
        }
    }
}