:root {
    --bg-primary: #18003E;
    --color-reset: #ff4b37;
    --color-primary: #6A0BFF;
    --color-primary-hover: #5509cc;
    --color-gray-hover: #f8f8f8;
    --color-black: black;
    --color-gray-bg: #F4F4F4;
    --color-white: white;
    --color-text: #474747;
    --color-border: #E8E8E8;
    --color-text-gray: #A3A3A3;
    --color-text-prime: #8C8C8C;
    --color-text-dunkle:#303030;
    --color-text-secondary: #191919;
}

$font-main: "Manrope", sans-serif;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;  
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 24px;
$font-3xl: 32px;

$radius-xs:12px;
$radius-2xl:24px;

$space-xs: 1px;
$space-xs-1: 2px;
$space-xs-2: 4px;
$space-xs-3: 6px;
$space-xs-4: 8px;

$space-sm: 10px;
$space-sm-1: 12px;
$space-sm-2: 14px;
$space-sm-3: 16px;
$space-sm-4: 18px;

$space-md: 20px;
$space-md-1: 22px;
$space-md-2: 24px;
$space-md-3: 26px;
$space-md-4: 28px;

$space-lg: 30px;
$space-lg-1: 32px;
$space-lg-2: 34px;
$space-lg-3: 36px;
$space-lg-4: 38px;
$space-lg-5: 40px;



